<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset=utf-8 />

    <title>JS Bin</title>
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
        
        #img-upload {
            width: 100%;
        }
        
        .device_data {
            font-size: 12px;
        }
        
        .btn-file {
            background-color: darkgoldenrod;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row h-100">
            <div class="col-md-6">
                <div class="upload_div">
                    <div class="form-group">
                        <div class="bg-dark text-light p-2 text-center mb-2">
                            <label>Upload Image/ Text</label>
                        </div>

                        <div class="input-group">
                            <span class="input-group-btn">
								<span class="btn btn-default btn-file .bg-warning">
									<i class="fa fa-file mr-1"></i>Choose file <input type="file" id="imgInp">
								</span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <img id='img-upload' class="rounded" />
                    </div>
                </div>
                <div class="h-20 bg-dark user_blocking_control p-2">
                    <div class="col-md-12 p-2">
                        <button type="button" class="btn btn-danger m-2">Block Msg</buttons>
						<button type="button" class="btn btn-success m-2">Unblock Msg</button>
                    </div>
                    <div class="col-md-12">
                        <textarea class="text-light block_msg bg-dark w-100 mt-2 mb-2" placeholder="Violation Text...."></textarea>
                        <button type="button" class="btn btn-secondary mt-2">Submit</button>
                    </div>

                </div>

            </div>
            <div class="col-md-4 bg-dark p-3">
                <div class="text-center text-light m-2">File Details</div>
                <label class="text-light mt-2">User</label><br>
                <text class="user_name text-success"></text><br>
                <label class="text-light mt-2">Device Data:</label><br>
                <text class="device_data text-success"></text><br>
                <label class="text-light mt-2">Mac ID:</label><br>
                <text class="mac_id text-success"></text><br>
                <label class="text-light mt-2">Time Stamp:</label><br>
                <text class="time_stamp device_data text-success"></text><br>
                <label class="text-light mt-2">Forwarding Number</label><br>
                <text class="forwarding device_data text-success mb-2"></text><br>

            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        $(document).on('change', '.btn-file :file', function() {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);

        });

        $('.btn-file :file').on('fileselect', function(event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;
            console.log(log)
            genMsgData(log)
            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#img-upload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgInp").change(function() {
            readURL(this);
            // debugger
            // var user_name = "Harvey Specter"
            var data = {
                'device_data': ['os.name = Macintosh<br/>os.version = 10.142', 'os.name = Macintosh<br/>os.version = 10.142', 'os.name = Macintosh<br/>os.version = 10.142', 'os.name = Macintosh<br/>os.version = 10.142'],
                'user_name': ['User1', 'User2', 'User3', 'User4'],
                'mac_id': ["268678286693643", "268678223693643", "268674283693643", "268677283693643"],
                'time_stamp': ["01/21/2019 11:44 pm", "01/21/2019 11:44 pm", "01/21/2019 11:44 pm", "01/21/2019 11:44 pm"]
            }
            var device_data = "os.name = Macintosh<br/>os.version = 10.142<br/>browser.name = Chrome<br/>browser.version = 71.0357898<br/><br/>navigator.userAgent = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36<br/>navigator.appVersion = 5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36<br/>navigator.platform = MacIntel<br/>navigator.vendor = Google Inc.<br/>"
            var mac_id = "268678283693643"
            var time_stamp = "01/21/2019 11:44 pm"

            $('.device_data').text(device_data)
            $('.mac_id').text(mac_id)
            $('.time_stamp').text(time_stamp)
            $('.user_name').text(user_name)
            $('.forwarding').text(Math.floor(Math.random() * 100) + 1)

        });
    });

    function genMsgData(log) {
        console.log(log)
        var test = [0, 1, 2, 3]
            // test.map()

        // debugger
        test.forEach(function(d) {
            var data = {
                'device_data': [
                    "os.name = Macintosh<br/>os.version = 10.142<br/>browser.name = Chrome<br/>browser.version = 71.0357898<br/><br/>navigator.userAgent = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36<br/>navigator.appVersion = 5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36<br/>navigator.platform = MacIntel<br/>navigator.vendor = Google Inc.<br/>",
                    "os.name = Macintosh<br/>os.version = 10.142<br/>browser.name = Chrome<br/>browser.version = 71.0357898<br/><br/>navigator.userAgent = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36<br/>navigator.appVersion = 5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36<br/>navigator.platform = MacIntel<br/>navigator.vendor = Google Inc.<br/>",
                    "os.name = Macintosh<br/>os.version = 10.142<br/>browser.name = Chrome<br/>browser.version = 71.0357898<br/><br/>navigator.userAgent = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36<br/>navigator.appVersion = 5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36<br/>navigator.platform = MacIntel<br/>navigator.vendor = Google Inc.<br/>",
                    "os.name = Macintosh<br/>os.version = 10.142<br/>browser.name = Chrome<br/>browser.version = 71.0357898<br/><br/>navigator.userAgent = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36<br/>navigator.appVersion = 5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36<br/>navigator.platform = MacIntel<br/>navigator.vendor = Google Inc.<br/>"
                ],
                'user_name': ['User1', 'User2', 'User3', 'User4'],
                'mac_id': ["268678286693643", "268678223693643", "268674283693643", "268677283693643"],
                'time_stamp': ["01/21/2019 11:44 pm", "01/21/2019 11:44 pm", "01/21/2019 11:44 pm", "01/21/2019 11:44 pm"],
                'forwarding': ['34', '45', '67', '20']
            }
            if (log.search("" + d) > -1) {
                // add the user data fetched from the firedatabase..... chat app
                $('.user_name').text(data.user_name[d])
                $('.device_data').text(data.device_data[d])
                $('.mac_id').text(data.mac_id[d])
                $('.time_stamp').text(data.time_stamp[d])
                $('.forwarding').text(data.forwarding[d])
            }
        })

    }
</script>

</html>