<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<meta charset=utf-8 />
	<style>
		body {
				/* font-family: "Lato", sans-serif; */
		}
		.sidenav {
			height: 100%;
			width: 200px;
			position: fixed;
			z-index: 1;
			/* top: 0; */
			left: 0;
			background-color: #111;
			overflow-x: hidden;
			padding-top: 20px;
		}		
		.sidenav a {
			padding: 6px 8px 6px 16px;
			text-decoration: none;
			/* font-size: 25px; */
			color: #818181;
			display: block;
		}
		.sidenav a:hover {
			color: #f1f1f1;
		}
		.main {
			margin-left: 200px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img src="static/img/talk.png" width="50px" class="img-responsive p-1">
		<a class="navbar-brand" href="javascript:void(0)">Admin</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
		<span class="navbar-toggler-icon"></span>
	</button>
			<div class="collapse navbar-collapse" id="navb">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">Report</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">Explore</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
					</li>
				</ul>
				<ul class="navbar-nav float-right">
					<li class="nav-item float-right">
							<a class="nav-link" href="javascript:void(0)">
								Logout<i class="fa fa-sign-out p-1" aria-hidden="true"></i>
							</a>
					</li>
				</ul>
			</div>
	</nav>
	<div class="sidenav">
		<a href="#about">About</a>
		<a href="#services">Services</a>
		<a href="#clients">Uses</a>
		<a href="#contact"></a>
	</div>
	<div class="main" style="margin-top:30px">
		<div class="container">
			<div class="row">
					<div class="col-md-4">

					</div>
					<div class="col-md-6">

					</div>
			</div>
		</div>
	</div>
</body>
</html>